* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App {
  width: 640px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

post__btns {
  display: flex;
}

.remove-btn {
  margin-right: 0.5rem;
}

.post-enter {
  /*transform: translateX(-350px);*/
  opacity: 0;
}
.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
  /*transform: translateX(0px);*/
  /*transition: all 500ms ease-in;*/
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
  /*transform: translateX(-350px);
  transition: all 500ms ease-in;*/
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
}

.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}

.page__current {
  border: 2px solid orange;
  font-weight: bold;
}

.navbar {
  height: 50px;
  width: 100%;
  display: flex ;
  align-items: center;
  padding: 0 15px;
  background: lightseagreen;
}

.navbar__links {
  margin-left: auto;
  align-items: center;
  padding: 10px;
}